# Dados do INMET
data/data_INMET_zip

# Ambiente virtual (cobre venv ou .venv, qualquer um)
venv/
.venv/

# Imagens
.img/

# Jupyter Notebook
.ipynb_checkpoints/

# Arquivos de cache do Python
__pycache__/
*.pyc
*.pyo

# Arquivos temporários ou duplicados
*.log